<html>
  <head>
    <style>
      body {
        font-family: "Courier New", monospace;
      }
    </style>
  </head>

  <body>
    <h1>Tutorial de supervivencia en emergencia zombie</h1>

    <ol>
      <li>
        <p>
          <span style="font-weight: 400"
            >Consigue agua potable, alimentos y medicamentos necesarios</span
          >
        </p>
      </li>
      <li>
        <p>
          <span style="font-weight: 400"
            >Herramientas como cuchillos, radio, encendedor y muchas
            bater&iacute;as.</span
          >
        </p>
      </li>
      <li>
        <p><span style="font-weight: 400">Kit de primeros auxilios</span></p>
      </li>
      <li>
        <p><span style="font-weight: 400">Kit de limpieza personal</span></p>
      </li>
      <li>
        <p>
          <span style="font-weight: 400"
            >Toma todos tus documentos importantes</span
          >
        </p>
      </li>
      <li>
        <p>
          <span style="font-weight: 400"
            >Busca un lugar seguro donde protegerse de un ataque: un
            s&oacute;tano, un cuarto protegido</span
          >
        </p>
      </li>
      <li>
        <p>
          <span style="font-weight: 400"
            >Identifica los contactos de emergencia: SOS cruz roja, bomberos,
            polic&iacute;as, o cualquier tipo de ayuda</span
          >
        </p>
      </li>
      <li>
        <p>
          <span style="font-weight: 400"
            >Planifica tu ruta de evacuaci&oacute;n</span
          >
        </p>
      </li>
    </ol>
  </body>
</html>
